<!-- Slider main container -->
<div class="slider-container swiper-container">
  <!-- Additional required wrapper -->
  <div class="slider-wrapper swiper-wrapper">
    <!-- Slides -->
    <div class="slider-slide swiper-slide">
      <div class="slider-image">
        <img src="../../../img/background/back-1.jpg" alt="Картинка">
      </div>
    </div>
    <div class="slider-slide swiper-slide">
      <div class="slider-image">
        <img src="../../../img/background/back-2.jpg" alt="Картинка">
      </div>
    </div>
    <div class="slider-slide swiper-slide">
      <div class="slider-image">
        <img src="../../../img/background/back-3.jpg" alt="Картинка">
      </div>
    </div>
    <div class="slider-slide swiper-slide">
      <div class="slider-image">
        <img src="../../../img/background/back-4.jpg" alt="Картинка">
      </div>
    </div>
    <div class="slider-slide swiper-slide">
      <div class="slider-image">
        <img src="../../../img/background/back-5.jpg" alt="Картинка">
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
