

.slider {
  &-container {

  }
  &-wrapper {
  }
  &-image {
    & img{
      max-width: 600px;
      width: 100%;
    }
  }
}
.swiper-container {
}

.swiper-wrapper {
}
.swiper-slide img {
  max-width: 700px;
  width: 100%;
}