<header class="header">
  <div class="header__wrapper">
    <h1 class="header__title">Уютный дом</h1>
    <h2 class="header__subtitle">Дизайн интерьера</h2>
    <nav class="menu-nav">
      <ul class="menu-list">
        <li class="menu-list__item">
          <a href="#" class="menu-list__item-link">Наши работы</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__item-link">О нас</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__item-link">Отзывы</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__item-link">Контакты</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__item-link">Оставить заявку</a>
        </li>
      </ul>
    </nav>
    <div class="header__contacts">
      <a href="#" class="header__contact-link">Наш инстаграм</a>
    </div>
  </div>
</header>